<!-- topo -->
<div class="container-fluid bg-topo">
  <header class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a href="#" class="navbar-brand">
        <img src="../../../../assets/img/logo.png" height="70" class="d-inline-block align-top"> 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" 
              aria-controls="menu" aria-expanded="false" aria-label="Menu Colapso">

          <span class="navbar-toggler-icon text-light"></span>
      </button>
      <div id="menu" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto text-light">
          <li class="nav-item">
            <a href="#" class="nav-link text-light font-weight-bold">Serviços</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-light font-weight-bold">Parceiros</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-light font-weight-bold">Cursos</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-light font-weight-bold">Contatos</a>
          </li>
        </ul>
        <a href="#" class="btn col-md-3 btn-orcamento">Pedir um orçamento.</a>
      </div>
    </nav>
  </header>
</div>

<!-- slide show -->
<div class="container-fluid my-2">
  <div id="slideshow" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slideshow" data-slide-to="0" class="active"></li>
      <li data-target="#slideshow" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="#">
          <img src="../../../../assets/img/banner1.jpg" class="d-block w-100" alt="Primeiro slide.">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <img src="../../../../assets/img/banner2.jpg" class="d-block w-100" alt="Segundo slide.">
        </a>
      </div>

      <a href="#slideshow" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a href="#slideshow" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>
</div>

<!-- serviços -->
<div class="container-fluid bg-servicos">
  <div class="mt-2 py-4">
    <section class="container">
      <header class="col-md-12">
        <h2 class="text-center text-light">O que fazemos?
          <span class="underline"></span>
        </h2>
      </header>
      <div class="row py-4">
        <div class="col-md-4">
          <img src="../../../../assets/img/img1.png" class="img-fluid">
          <p class="text-center text-light mt-2">Criação de websites responsivos.</p>
        </div>
        <div class="col-md-4">
          <img src="../../../../assets/img/img2.png" class="img-fluid">
          <p class="text-center text-light mt-2">Criação de aplicativos androids.</p>
        </div>
        <div class="col-md-4">
          <img src="../../../../assets/img/img3.png" class="img-fluid">
          <p class="text-center text-light mt-2">Otimização de sites na web.</p>
        </div>
      </div>
    </section>
  </div>
</div>
