<div class="container-fluid bg-topo">
  <header class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a href="#" class="navbar-brand">
        <img src="../../../../assets/img/logo.png" height="70" class="d-inline-block align-top"> 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" 
              aria-controls="menu" aria-expanded="false" aria-label="Menu Colapso">

          <span class="navbar-toggler-icon text-light"></span>
      </button>
      <div id="menu" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto text-light">
          <li class="nav-item">
            <a href="#" class="nav-link text-light font-weight-bold">Serviços</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-light font-weight-bold">Parceiros</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-light font-weight-bold">Cursos</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-light font-weight-bold">Contatos</a>
          </li>
        </ul>
        <a href="#" class="btn col-md-3 btn-orcamento">Pedir um orçamento.</a>
      </div>
    </nav>
  </header>
</div>
